body {
    background-color: #8b8b8b;
    position: relative;
}

.cover{
  z-index: 1;
}

.outer {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer1 {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1 {
  font-size: 74px;
  text-align: center;
}
#box {
    width: 15vw;
    display: none;
    min-width: 188px;
}

#content {
   background-color: #c0c0c0;
   border: 1px solid blue;
   height: 241px;
   width: 241px;
}

#text{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #4d4d4d;
  margin-bottom: 1vh;
  font-size: 5em;
  text-align: center;
}

#graphics{
  width: 14vw;
  min-width: 120px;
  margin: auto;

}

#keyboard{
  min-width: 120px;
}

#emptyBar {
  width: 100%;
  background-color:#F2F2F2;
  border: 1px solid #4d4d4d;
  height: .5vw;
  min-height: 7px;

}

#loadedBar{
  width: 0%;
  height: .5vw;
  min-height: 5px;
  background-color: #4d4d4d;
  text-align: center;
  line-height: 30px;
  color: white;
}

#_4,#_5,#_6,#_7,#R,#T,#Y,#U,#F,#G,#H,#J,#V,#B,#N,#M{
   display: none;
}


/** mobile design **/
@media screen and (max-width: 415px) {
  #keyboard{
    display: none;
  }

  #box{
    width: 90vw;
  }

  #Layer_18{
    display: none;
  }
}
